@media(max-width:1450px) {
    .container {
        padding: 0 10px;
    }

    .contact-wrapper {
        justify-content: center;
        flex-wrap: wrap-reverse;
    }
}

@media(max-width:1200px){
    .hero-wrapper {
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }
}

/* @media(){} */
@media(max-width:850px) {
    .nav {
        position: absolute;
        z-index: 3;
        top: 0;
        right: 0;
        bottom: 0;
        left: 100%;
        background: #fff;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        overflow-x: hidden;
        transition: 0.3s linear;
    }

    .nav.active{
        left:0;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .burger{
        position: relative;
        z-index: 5;
        display: block;
        width: 60px;
        height: 40px;
        background-image: url(../img/burger.svg);
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.3s linear;
        transform: rotate(0deg);
    }

    .burger.active{
        background-image: url(../img/close.svg);
        transform: rotate(-360deg);
    }
}

@media(max-width:768px){
    .footer-top {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .footer-content {
        width: 100%;
    }
}

@media(max-width:590px){
    .hero-block {
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}

@media(max-width:450px){
    .header-logo {
        display: block;
        width: 180px;
    }

    .hero-link {
        width: 268px;
    }

    .hero-subtitle {
        font-size: 22px;
        line-height: 30px;
    }

    .hero-item {
        font-size: 18px;
    }

    .contact-form {
        padding: 30px 15px;
    }
}